<div class="row">
  <div class="col-lg-4">
    <p> Выберите город: <br/>
      <%= f.grouped_collection_select(:city_id, Region.all, :cities, :name, :id, :name, class: "form-control") %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Название турбазы: <br/><%= f.text_field :name, title: "Напишите название турбазы", class: "form-control" %></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Описание турбазы: <br/><%= f.text_area :description, title: "Напишите описание", class: "form-control" %></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <p>Цена, руб./сутки: <br/><%= f.text_field :price, title: "Напишите цену проживания в сутки" , class: "form-control" %></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
    <p> <%= f.submit "Сохранить", class: "btn btn-outline-success btn-sm" %></p>
  </div>
</div>