<div class="row">
  <h2>Турбазы</h2>
</div>
<% if @camp.empty? %>
  <div class="row">
    <b>Турбаз пока нет</b>
  </div>
<% else %>
  <div class="row">
    <table class="table table-sm table-hover table-responsive">
      <thead>
      <tr>
        <th>Турбаза</th>
        <th>Город</th>
        <th>Регион</th>
        <th>Страна</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @camp.each do |i| %>
        <tr data-path="<%= camp_path(i) %>">
          <td><%= link_to i.name, camp_path(i) %></td>
          <td><%= link_to i.city.name, camps_path(:id => i.city_id) %></td>
          <td><%= link_to i.city.region.name, cities_path(:id => i.city.region_id) %></td>
          <td><%= link_to i.city.region.country.name, regions_path(:id => i.city.region.country_id) %></td>
          <td><%= link_to "изменить", edit_camp_path(i), class: "btn btn-outline-secondary btn-sm" %></td>
          <td><button type="button" class="btn btn-outline-danger deleteAction btn-sm">Удалить</button></td>
      </tr>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class="row">
  <%= link_to "Добавить турбазу", new_camp_path(), class: "btn btn-outline-primary btn-sm mb-lg-3 mb-xs-2" %>
</div>