<div class="row">
  <h2>Страны</h2>
</div>
<% if @country.empty? %>
  <div class="row">
    <b>Стран пока нет</b>
  </div>
<% else %>
<div class="row">
  <table class="table table-sm table-hover table-responsive">
    <% @country.each do |i| %>
    <tr data-path="<%= country_path(i) %>">
      <td><%= link_to i.name, regions_path(:id => i.id) %></td>
      <td><%= link_to "изменить", edit_country_path(i), class: "btn btn-outline-secondary btn-sm" %></td>
      <td><%= link_to "удалить", country_path(i), method: :delete, data: { confirm: "Точно удалить?" },
                                                  class: "btn btn-outline-danger btn-sm" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>

<div class="row">
  <%= link_to "Добавить страну", new_country_path(), class: "btn btn-outline-primary btn-sm mb-lg-3 mb-xs-2" %>
</div>