<div class="row">
  <h2>Города</h2>
</div>
<% if @city.empty? %>
  <div class="row">
    <b>Городов пока нет</b>
  </div>
<% else %>
  <div class="row">
    <table class="table table-sm table-hover table-responsive">
      <thead>
      <tr>
        <th>Город</th>
        <th>Регион</th>
        <th>Страна</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @city.each do |i| %>
      <tr data-path="<%= city_path(i) %>">
        <td><%= link_to i.name, camps_path(:id => i.id) %></td>
        <td><%= link_to i.region.name, cities_path(:id => i.region_id) %></td>
        <td><%= link_to i.region.country.name, regions_path(:id => i.region.country_id) %></td>
        <td><%= link_to "изменить", edit_city_path(i), class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to "удалить", city_path(i), method: :delete, data: { confirm: "Точно удалить?" },
                        class: "btn btn-outline-danger btn-sm" %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class="row">
  <%= link_to "Добавить город", new_city_path(), class: "btn btn-outline-primary btn-sm mb-lg-3 mb-xs-2" %>
</div>