<div class="row">
  <h2>Города</h2>
</div>
<% if @city.empty? %>
  <div class="row">
    <b>Городов пока нет</b>
  </div>
<% else %>
  <div class="row">
    <table class="table table-sm table-hover table-borderless table-responsive">
      <% n = 0 %>
      <% @city.each do |i| %>
        <%if n != i.region_id %>
          <% n = i.region_id %>
          <tr>
            <td colspan="4"><%= link_to i.region.name, cities_path(:id => i.region_id) %></td>
          </tr>
        <% end %>
      <tr data-path="<%= city_path(i) %>">
        <td></td>
        <td><%= link_to i.name, camps_path(:id => i.id) %></td>
        <td><%= link_to "изменить", edit_city_path(i), class: "btn btn-outline-secondary btn-sm" %></td>
        <td><button type="button" class="btn btn-outline-danger deleteAction btn-sm">Удалить</button></td>
      </tr>
      <% end %>
<% end %>
  </table>
</div>
<div class="row">
  <%= link_to "Добавить город", new_city_path(), class: "btn btn-outline-primary btn-sm" %>
</div>