<div class="row">
  <h2>Регионы</h2>
</div>
<% if @region.empty? %>
  <div class="row">
    <b>Регионов пока нет</b>
  </div>
<% else %>
<div class="row">
  <table class="table table-sm table-hover table-responsive">
    <thead>
    <tr>
      <th>Регион</th>
      <th>Страна</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <% @region.each do |i| %>
      <tr data-path="<%= region_path(i) %>">
        <td><%= link_to i.name, cities_path(:id => i.id) %></td>
        <td><%= link_to i.country.name, regions_path(:id => i.country_id) %></td>
        <td><%= link_to "Изменить", edit_region_path(i), class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to "удалить", region_path(i), method: :delete, data: { confirm: "Точно удалить?" },
                        class: "btn btn-outline-danger btn-sm" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<div class="row">
  <%= link_to "Добавить регион", new_region_path(), class: "btn btn-outline-primary btn-sm mb-lg-3 mb-xs-2" %>
</div>
