<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMirturbaz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
      <div class="container">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Страны", countries_path(), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Регионы", regions_path(), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Города", cities_path(), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Турбазы", camps_path(), class: "nav-link active" %>
            </li>
          </ul>
        </div>
    </nav>

    <div class="container">
      <p style="color: red;"><%= flash[:error] %></p>
      <p style="color: green;"><%= flash[:success] %></p>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
